    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Services</h2>
                    <p>Our expertise includes: digital outreach, fundraising, political and advocacy strategy, brand management, constituent engagement and re-engagement, content optimization, risk management, networking and coalition organizing, in-person events and earned media.</p>
                    <a href="mailto:{{ site.email }}" class="btn btn-default btn-lg">Send an email</a>
                </div>
            </div>
        </div>
    </section>
